<br><br><br><br>
<center>
    <div style="padding:100px; padding-left: 240px">
        <h1 style="font-size:90px; color:#757575
">Error del sistema</h1><br>
        <p style="font-size:35px; color:#B71C1C">{{error}}</p><br>
        <p style="font-size:15px; color:#B71C1C">{{descripcion}}</p>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect" style="color: #3F51B5;" onclick="window.history.back();">Volver a realizar la accíon</button>
    </div>
</center>

<!--
    en el servidor 
    error:"Error del sistema :(
    descripcion:"¡Vaya!, algo salió mal. Tu petición no ha sido completada. Por favor inténtelo nuevamente
-->