<section class="full-width pageContent">
	<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
		<div class="mdl-tabs__panel is-active" id="tabNewAdmin">
			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
					<div class="full-width panel mdl-shadow--2dp">
						<div class="full-width panel-tittle bg-primary text-center tittles">
							Nuevo Empleado
						</div>
						<div class="full-width panel-content">
							<form action="/admin/saveEmployee" method="post" enctype="multipart/form-data">
								<div class="mdl-grid">
									<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
										<br>
										<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
											<label class="text-condensedLight" style="font-size:20px;">Cédula</label>
											<input class="mdl-textfield__input" type="text" id="Ced_Emp" name="Ced_Emp" validation="cedula" event="keyup" solonum="true"
											 EnterNext="true" idNext="Nomb_Emp" onblur="validarUsuario(this);" maxlength="10" requerido>
											<label class="mdl-textfield__label" for="Ced_Emp"></label>
											<span class="mdl-textfield__error">Ingrese Solo Números en Cédula</span>
										</div>
										<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
											<label class="text-condensedLight" style="font-size:20px;">Nombre</label>
											<input class="mdl-textfield__input" type="text" id="Nomb_Emp" name="Nomb_Emp" EnterNext="true" idNext="Telf_Emp" soloLetras="true" maxlength="60" requerido>
											<label class="mdl-textfield__label" for="Nomb_Emp" ></label>
											<span class="mdl-textfield__error">Sólo se permite caracteres de la A a la Z con tildes y espacios</span>
										</div>
										<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
											<label class="text-condensedLight" style="font-size:20px;">Teléfono</label>
											<input class="mdl-textfield__input" type="text" id="Telf_Emp" name="Telf_Emp" solonum="true" EnterNext="true" idNext="Tur_Emp" maxlength="10">
											<label class="mdl-textfield__label" for="Telf_Emp"></label>
											<span class="mdl-textfield__error">Ingrese sólo números</span>
										</div>
									</div>
									<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
										<div>
											<div class="row">
												<div class="col-lg-6 col-md-6 col-sm-6">
													<label class="text-condensedLight" for="file_url" style="font-size:20px;">Foto del empleado</label>
													<div class="div_file btn">
														<p class="texto">Escoger imagen (102x102) </p>
														<input type="file" class="btn_enviar mdl-textfield__input" id="file_url" accept=".jpg,.png," name="image_producto" onchange="alertaOferta(this,this.files[0].size)"
														 required/>
													</div>
												</div>
												<div class="col-lg-6 col-md-6 col-sm-6">
													<div id="poder" style="display: none;margin:0 auto">
														<img style="" src="" height="102px" width="102px" id="img_destino">
													</div>
												</div>
											</div>
											<span id="msgError" style="display:none;color:#d50000;position:absolute;font-size:12px;margin-top:3px;">Solo se admite fotos de menos de 300kb</span>
										</div>
										<br><br>
										<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
											<label class="text-condensedLight" id="Turno" style="font-size:20px;">Turno</label>
											<select class="mdl-textfield__input" id="Tur_Emp" name="Tur_Emp">
												<option>Matutino</option>
												<option>Vespertino</option>
												<option>Nocturno</option>
											</select>
										</div>
										<div>
											<input type="button" id="btn-addClient" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="color: #3F51B5; float:left;"
											 id="GuardarEmpleado" validation="saveEmpleado" event="click" value="Guardar">
											<a href="/admin/tabla_empleados" id="btn-upClient" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="text-decoration:none; color: #3F51B5; float:left;" title="Mostrar Cliente Registrados">Ver Empleados Registrados</a>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script src="../modular/scripts/empleados.js"></script>
<link rel="stylesheet" href="../modular/estilos/empleados.css">
{{#if success_msg }}
	<input id="inputsucces" type="hidden" value="{{success_msg}}">
    <script type="text/javascript">
	    input = document.getElementById("inputsucces").value || "Accion realizada con éxito"
	    msgModal(input,'success',null);
    </script>
{{else if  error_msg }}
	<input id="inputError" type="hidden" value="{{error_msg}}">
    <script type="text/javascript">
	    input = document.getElementById("inputError").value || "Error inesperado"
	    msgModal(input,'error',"retroceder");
    </script>
{{/if}}
<script type="text/javascript">
	var titulo = document.getElementById("title_static");
	if (titulo) {
		titulo.innerHTML = '<i class="zmdi zmdi-account"></i><span class="hide-on-tablet">&nbsp;EMPLEADOS</span>'
	};
</script>