<section class="full-width pageContent">
    <div class="row">
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-10 col-md-10">
            <h1 style="text-align:center">Reportes</h1><br>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <article class="full-width tile" style="width:100%">
                        <a href="/admin/reportes-ventas">
                            <div class="tile-text">
                                <span class="text-condensedLight">
                                <small class="fuente">Ventas</small>
                            </span>
                            </div>
                            <i class="zmdi zmdi-chart-donut tile-icon"></i>
                        </a>
                    </article>
                </div>
                <div class="col-lg-6 col-md-6">
                    <article class="full-width tile" style="width:100%">
                        <a href="/admin/reportes-actividades">
                            <div class="tile-text">
                                <span class="text-condensedLight">
                                <small class="fuente">Actividades</small>
                            </span>
                            </div>
                            <i class="zmdi zmdi-chart-donut tile-icon"></i>
                        </a>
                    </article>
                </div>
                 <div class="col-lg-6 col-md-6">
                    <article class="full-width tile" style="width:100%">
                        <a href="/admin/correo-productos">
                        <div class="tile-text">
                            <span class="text-condensedLight">
                                <small class="fuente">Enviar correos</small>
                            </span>
                        </div>
                        <i class="zmdi zmdi-email tile-icon"></i>
                        </a>
                    </article>
                </div>
            </div>
        </div>
        <div class="col-lg-1 col-md-1"></div>
    </div>
</section>
<script type="text/javascript">
    var titulo = document.getElementById("title_static");
    if (titulo) {
        titulo.innerHTML = '<i class="zmdi zmdi-label"></i><span class="hide-on-tablet">&nbsp;&nbsp;REPORTES</span>'
    };
</script>